.draggable{
	width: 150px;
	height: 60px;
	cursor: move;
	word-wrap: break-word;
	font-size: 12;
	margin-bottom: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);	
	padding:3px;
	word-break: break-all;
}
.channel{
	border: 1px solid black;
	background: lightcyan;
}
.router{
	border: 1px solid green;
	background: lightyellow;
}
.gateway{
	border: 1px solid blue;
	background: aliceblue;
}
.chain{
	border: 1px solid red;
	background: lightyellow;
}
.ui-tooltip{
	font-size: 12;
	height: auto;
	word-wrap: break-word;
	vertical-align: middle;
}
#lineContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.output{
	position: absolute;
	left: 153px;
	top:20;
}
.input{
	position: absolute;
	left: -5;
	top:20;
}
.josnData{
	border: 1px solid black;
	font-size: 10;
	word-wrap: break-word;
	justify-content: space-evenly;
	background: #f7f5f5;
	word-break: break-all;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
path:hover {
  stroke-width:5px;
  stroke: magenta;
  
}
path{
	cursor: pointer;
}
.highlight{
	border: 2px solid aqua !important;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.contnet-img{
	float: left;
    margin-right: 5px;
    margin-bottom: 3px;
    border: 1px solid #000;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}
.contentblock{
    overflow: hidden;
    max-height: 60px;
}
.successCount{
	background-color: #a1eda8;
	float: left;
}
#chart {
  max-width: 1050px;
  margin: 35px auto;
}
